body {
  height: 100vh;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffaa72e3, #ffef95d5);
  background-repeat: no-repeat;
  background-size: cover;
}

.centralizado {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fffdf8;
  padding: 30px;
  border: 1px solid #ffe3be;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #cc4c11;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 50px #333;
}

h1,
h2 {
  text-align: center;
  color: #814c28;
}

form {
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #b1987f;
  border-radius: 5px;
  background-color: #ffffff;
}

button {
  background-color: #d3874d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
}

button:hover {
  background-color: #b36939;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff7ee;
  border: 1px solid #eccfa6;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

li strong {
  color: #5b3c2b;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  background-color: #fff3e6;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#editForm input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #c7b199;
  border-radius: 5px;
  background-color: #fffefb;
}

#editForm button {
  padding: 8px 12px;
  margin-left: 5px;
  font-weight: bold;
}
